body{
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(135deg,rgb(124, 122, 99), rgb(54, 68, 80));
    height: 100vh;
}

.card{
    background-color: white;
    padding:40px;
    margin: 20px;
   text-align: center;
   max-width: 350px;
   margin:auto;
   border-radius: 20px;
   box-shadow: rgb(0, 0, 0, .35) 0px 3px 5px 15px;
}
h1{
    color: #252525;
    margin: 20px 0 0 10px 0;
}
.title{
    color: rgb(121, 121, 121);
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.bio{
    line-height: 1.7;
    color: rgb(73, 71, 69);
}
.avatar{
    border:4px solid #6d6579 ; 
    border-radius: 50%;
    box-shadow: rgb(0, 0, .35) 0px 3px 15px 0px;
}

.skillz{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0 0 30px 0;
    padding :0;
}
.skillz li{
    background-color: rgb(201, 210, 218);
    padding: 8px 10px;
    border-radius: 20px;
    color: #252525;
    font-weight: 200;

}
.contact-btn{
    background-color: #df96df;
    padding: 18px;
    border-radius: 9px;
    display:block;
    transition: all .4s ease-in-out;
}

.contact-btn:hover{
    background-color: #b93db9;
    transform: translateY(-5px);
}


.highlight{
    background-color: yellow;
}